@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

body{
    font-family: 'Grechen Fuemen', cursive;

}
:root {
    --primary-color:#00008b;
    --dark-color: #b9b8b84d;
    --off-white: #ffffff;
    --color:#e9e9e9e1;
 }

 .Banana-Talk{
    margin: auto;
    background-color:var(--primary-color);
    color: var(--off-white);
    position:fixed;
    text-align: center;
    padding: 1rem;
    left: 0;
    top: 0;
    width: 100%
}
.INPO {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    
}

textarea {
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 5rem;
    background-color: var(--color);
    border-radius: 1rem;
    font-size: large;
}

button{
    background-color:var(--primary-color);
    color: var(--off-white);
    width:100%;
    padding:1rem 1rem;
    border-radius: 1rem 1rem;
    margin:1.5rem auto;
    font-size:20px;
    font-family: 'Grechen Fuemen', cursive;

    
}
.outer{
    width: 100%;
    background-color:var(--primary-color);
    color:var(--off-white);
    padding: 0.2rem 0.2rem;
    font-size:x-large;
    text-align:center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#output{
    display: block;
    width: 100%;
    min-height: 20vh;
    font-size: large;
    border-style:ridge;
    background-color: var(--color);
    margin:auto;
    margin-bottom: 10rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.footer {
    text-align: center;
    background-color: var(--primary-color);
    color:var(--off-white) ;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-About{
    font-weight: bold;
    font-size: x-large;
}